body{
  background:#faf6f2;
  margin:0;
}
h2{
  font-family:cursive;
  text-align:center;
  font-size: 50px;
}
.navbar{
  list-style:none;
  background-color:#d49e8d;
  text-align:center;
  padding:0;
  margin:0;
}
.navbar a{
  text-decoration:none;
  color:black;
  display:inline-block;
  padding:16px 20px;
  font-size:18px;
  font-family:cursive;
  transition:0.4s;
}
.navbar a:hover{
  color:white;
}
}
.container{
  position:relative;
  text-align:center;
  color:white;
}
.centered{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:40px;
  font-family:cursive;
  text-align:center; 
}
h1{
  font-size:20px;
  font-family:verdana; 
  text-align:center;
}
p.small{
  line-height:2;
  padding:90px;
  font-family:verdana;
  font-size:16px;
  text-align: justify;
}
p{
  font-size:16px;
  font-family:verdana;
  line-height:2;
  text-align:center;
}
table {
  font-size:19px;
  font-family:sans-serif;
  line-height:2;
}
*{
  box-sizing:border-box;
}
.column{
  float:left;
  width:25%;
  padding:5px;  
}
.column img{
  opacity:1;
}
.column img:hover{
  filter:grayscale(35%);
  transforms:scale(1.1);
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
p.big{
  line-height:2;
  padding:70px;
  font-family:verdana;
  font-size:16px;
  text-align: justify;
}
.gallery{
  padding:50px;
}
